## Data Exploration and Analysis

In order to better understand how to use my date for the purpose of my reasearch I want to look at the csvs, to understand what they contain, if I have to clean them and do some initial basic statistics on them.

I have choosen **locationeventpertime, applicationevent, notificationevent and timediariesanswers** \[specifically the json where I can find the answer to the question "Who I was with"\]

### Locationeventpertime

In [2]:
import pandas as pd

location_pd = pd.read_csv('locationeventpertime.csv')
location_pd

,timestamp,accuracy,bearing,lucene,point,provider,speed
0,20221011235916420,14.5,296.2,NaN,"{latitude:46.05606,longitude:11.12064,altitude...",gps,0.65
1,20221011235916411,14.5,296.2,NaN,"{latitude:46.05606,longitude:11.12064,altitude...",passive,0.65
2,20221011235916401,14.5,296.2,NaN,"{latitude:46.05606,longitude:11.12064,altitude...",passive,0.65
3,20221011235916385,14.5,296.2,NaN,"{latitude:46.05606,longitude:11.12064,altitude...",passive,0.65
4,20221011235915407,16.0,288.4,NaN,"{latitude:46.05606,longitude:11.12066,altitude...",gps,0.38
...,...,...,...,...,...,...,...
303035,20221022000019936,25.0,0.0,NaN,"{latitude:46.05621,longitude:11.12048,altitude...",passive,1.19
303036,20221022000019676,26.5,0.0,NaN,"{latitude:46.0561,longitude:11.12058,altitude:...",gps,0.12
303037,20221022000019672,26.5,0.0,NaN,"{latitude:46.0561,longitude:11.12058,altitude:...",passive,0.12
303038,20221022000019668,26.5,0.0,NaN,"{latitude:46.0561,longitude:11.12058,altitude:...",passive,0.12
303039,20221022000019638,26.5,0.0,NaN,"{latitude:46.0561,longitude:11.12058,altitude:...",passive,0.12

This table is composed by:

- Timestamp: show year(4), month(2), day(2), hour(2), minute(2), second(2), decimals(3) (Eliminate second and decimals)
- Accuracy: accuracy in meters. (Eliminate)
- Bearing: numeric value (Eliminate)
- Lucene: null (Eliminate)
- Point: gps value (latitude, longitude, altitude)
- Provider: network / gps (Eliminate)
- Speed: numeric speed (Eliminate)

In [21]:
location_new = location_pd
location_new.pop('accuracy')
location_new.pop('bearing')
location_new.pop('lucene')
location_new.pop('provider')
location_new.pop('speed')
location_new

                timestamp                                              point
0       20221011235916420  {latitude:46.05606,longitude:11.12064,altitude...
1       20221011235916411  {latitude:46.05606,longitude:11.12064,altitude...
2       20221011235916401  {latitude:46.05606,longitude:11.12064,altitude...
3       20221011235916385  {latitude:46.05606,longitude:11.12064,altitude...
4       20221011235915407  {latitude:46.05606,longitude:11.12066,altitude...
...                   ...                                                ...
303035  20221022000019936  {latitude:46.05621,longitude:11.12048,altitude...
303036  20221022000019676  {latitude:46.0561,longitude:11.12058,altitude:...
303037  20221022000019672  {latitude:46.0561,longitude:11.12058,altitude:...
303038  20221022000019668  {latitude:46.0561,longitude:11.12058,altitude:...
303039  20221022000019638  {latitude:46.0561,longitude:11.12058,altitude:...

[303040 rows x 2 columns]

In [22]:
location_new.to_csv('location_new.csv')

It doesn't make sense to have seconds and decimals in my timestamp, so I will remove them and group by not only the timestamp but also the point column, in this way the information of the changes of places won't get lost but if I stayed in the same place for hours it won't show again and again

In [72]:
import csv
with open('location.csv', 'w') as new:
    writer = csv.writer(new)
    with open('location_new.csv') as loc_file:
        reader = csv.reader(loc_file, delimiter = ',')

        for el in reader:
                if len(el[1]) == 17:
                    el[1] = el[1][:-5]
                writer.writerow(el)
    new.close()

Once I cleaned the timestamp I can import the new file in pandas to group it by timestamp

In [139]:
df = pd.read_csv('location.csv')
df.pop('Unnamed: 0')
new = df.groupby(['timestamp', 'point'])
new.sum().to_csv('finallocation.csv')

In [141]:
loc = pd.read_csv('finallocation.csv')
loc

          timestamp                                              point
0      202210100905  {latitude:45.52284,longitude:10.82075,altitude...
1      202210100906  {latitude:45.52529,longitude:10.82078,altitude...
2      202210100906  {latitude:45.52537,longitude:10.8208,altitude:...
3      202210100906  {latitude:45.52566,longitude:10.82087,altitude...
4      202210100906  {latitude:45.52584,longitude:10.82089,altitude...
...             ...                                                ...
67081  202210251344  {latitude:46.05631,longitude:11.12059,altitude...
67082  202210251345  {latitude:46.05606,longitude:11.12127,altitude...
67083  202210251345  {latitude:46.05611,longitude:11.12168,altitude...
67084  202210251345  {latitude:46.05616,longitude:11.12191,altitude...
67085  202210251347  {latitude:46.05607,longitude:11.12017,altitude...

[67086 rows x 2 columns]

### Applicationevent

In [149]:
import pandas as pd

app_pd = pd.read_csv('applicationevent.csv')
app_pd

                timestamp               applicationname
0       20221011235955510  com.sec.android.app.launcher
1       20221011235950071  com.sec.android.app.launcher
2       20221011235945062  com.sec.android.app.launcher
3       20221011235940047  com.sec.android.app.launcher
4       20221011235935029  com.sec.android.app.launcher
...                   ...                           ...
246903  20221022000026408  com.sec.android.app.launcher
246904  20221022000021403  com.sec.android.app.launcher
246905  20221022000016397  com.sec.android.app.launcher
246906  20221022000011403  com.sec.android.app.launcher
246907  20221022000005928  com.sec.android.app.launcher

[246908 rows x 2 columns]

This table is similar to the one before, as we have:
- Timestamp: show year(4), month(2), day(2), hour(2), minute(2), second(2), decimals(3)
- Applicationname: name of the application

It doesn't make sense to have seconds and decimals in my timestamp, so I will remove them and group by not only the timestamp but also the applicationname column

In [156]:
import csv
with open('app.csv', 'w') as new:
    writer = csv.writer(new)
    with open('applicationevent.csv') as app_file:
        reader = csv.reader(app_file, delimiter = ',')

        for el in reader:
                if len(el[0]) == 17:
                    el[0] = el[0][:-5]
                writer.writerow(el)
    new.close()

In [160]:
df = pd.read_csv('app.csv')
new = df.groupby(['timestamp', 'applicationname'])
new.sum().to_csv('finalapp.csv')

app = pd.read_csv('finalapp.csv')
app

          timestamp                          applicationname
0      202210100905             com.sec.android.app.launcher
1      202210100905           it.unitn.disi.witmee.sensorlog
2      202210100906  com.google.android.permissioncontroller
3      202210100906                    com.instagram.android
4      202210100906                  com.lynxspa.prontotreno
...             ...                                      ...
18433  202210251342             com.sec.android.app.launcher
18434  202210251342                             com.whatsapp
18435  202210251343             com.sec.android.app.launcher
18436  202210251344             com.sec.android.app.launcher
18437  202210251345             com.sec.android.app.launcher

[18438 rows x 2 columns]

### Notificationevent (still to decide)

In [161]:
import pandas as pd

not_pd = pd.read_csv('notificationevent.csv')
not_pd

,timestamp,id,isclearable,isongoing,package,status
0,20221011235956018,2131362956,False,True,com.android.systemui,notification_posted
1,20221011235947941,2131362956,False,True,com.android.systemui,notification_posted
2,20221011235937683,2131362956,False,True,com.android.systemui,notification_posted
3,20221011235927451,2131362956,False,True,com.android.systemui,notification_posted
4,20221011235917179,2131362956,False,True,com.android.systemui,notification_posted
...,...,...,...,...,...,...
65278,20221022000020665,2131362956,False,True,com.android.systemui,notification_posted
65279,20221022000010511,2131362956,False,True,com.android.systemui,notification_posted
65280,20221022000009064,105,False,True,com.sec.android.app.shealth,notification_posted
65281,20221022000005672,105,False,True,com.sec.android.app.shealth,notification_posted
65282,20221022000002189,105,False,True,com.sec.android.app.shealth,notification_posted

As for the other, in this table we have:
- Timestamp: show year(4), month(2), day(2), hour(2), minute(2), second(2), decimals(3)
- Id: notification id (Not needed)
- Isclearable: TRUE/FALSE (if it can not be clear with “clear all notifications”) (Not needed)
- Isongoing: TRUE/FALSE (if the app continue independent on the notification) (Not needed)
- Package: application package that creates the notification.
- Status: notification status (removed, posted) (Not needed)

In [164]:
not_new = not_pd
not_new.pop('id')
not_new.pop('isclearable')
not_new.pop('isongoing')
not_new.pop('status')
not_new

               timestamp                      package
0      20221011235956018         com.android.systemui
1      20221011235947941         com.android.systemui
2      20221011235937683         com.android.systemui
3      20221011235927451         com.android.systemui
4      20221011235917179         com.android.systemui
...                  ...                          ...
65278  20221022000020665         com.android.systemui
65279  20221022000010511         com.android.systemui
65280  20221022000009064  com.sec.android.app.shealth
65281  20221022000005672  com.sec.android.app.shealth
65282  20221022000002189  com.sec.android.app.shealth

[65283 rows x 2 columns]

In [166]:
not_new.to_csv('notification_new.csv')

It doesn't make sense to have seconds and decimals in my timestamp, so I will remove them and group by not only the timestamp but also the package column

In [172]:
import csv
with open('notification.csv', 'w') as new:
    writer = csv.writer(new)
    with open('notification_new.csv') as not_file:
        reader = csv.reader(not_file, delimiter = ',')

        for el in reader:
                if len(el[1]) == 17:
                    el[1] = el[1][:-5]
                writer.writerow(el)
    new.close()

In [175]:
df = pd.read_csv('notification.csv')
new = df.groupby(['timestamp', 'package'])
new.sum().to_csv('finalnotification.csv')

notification = pd.read_csv('finalnotification.csv')
notification.pop('Unnamed: 0')
notification

          timestamp                               package
0      202210100905                               android
1      202210100906                               android
2      202210100908                               android
3      202210100908  com.samsung.android.app.smartcapture
4      202210100909             com.sec.android.app.music
...             ...                                   ...
11031  202210251343                          com.whatsapp
11032  202210251344                               android
11033  202210251344                 com.instagram.android
11034  202210251344           com.sec.android.app.shealth
11035  202210251344                          com.whatsapp

[11036 rows x 2 columns]